/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  height: 100vh;
  background-image: url("https://ask-fd.zol-img.com.cn/g5/M00/06/01/ChMkJloRWiWIAgtNAAMmIABALnEAAiTHAN0QRgAAyY4610.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: sans-serif;
  margin: 0;
}

#root{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar{
  display: none;
}
